
/*
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License
*/
html {
	 scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	font-family: 'Arvo', serif;
	font-size: 14px;
	color: #3B3B3B;
}


h1, h2, h3 {
	margin: 0px;
	padding: 0px;
	letter-spacing: 0px;
	
	font-family: 'Arvo', serif;
	font-weight: normal;
	color: #0285CE;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 2.4em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	color: #0285CE;
}

a:hover {
}

/* Header */

#header-wrapper {

}

#header-wrapper .img {
	width:10%;
}


#header {
	clear: both;
	width: 1000px;
	margin: 0px auto;
}

/* Logo */

#logo {
	margin: 0px;
	padding: 30px 0px;
	color: #000000

	
}

#logo h1, #logo p {
	margin: 0;
	padding: 30px;
}

#logo h1 {
	margin: 0px;
	padding: 0px;
	
	font-size: 2em;
	color: #323030;
}
#logo h2 {
	color: #323030;
}


#logo h1 span {
	color: #0285CE;
}

#logo p {
	margin: 0px;
	padding: 0px;
	font-family: 'Arvo', serif;
	color: #3B3B3B;
}

#logo p a {
	color: #3B3B3B;
}

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #323030;
}

/* Search */

#search {
	width: 320px;
	height: 60px;
	padding: 0px;
}

#search form {
	margin: 0px;
	padding: 0px;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search-text {
	width: 250px;
	outline: none;
	background: #F5F0E7;
	border: 1px solid #D7D0C0;
	padding: 10px;
	text-transform: lowercase;
	font: normal 14px 'Arvo', serif;
	color: #454545;
}

#search-submit {
	width: 62px;
	height: 22px;
	display: none;
	border: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	overflow: hidden;
	height: 56px;
	background: #EDEDED;
}

#menu {
	width: 1000px;
	height: 55px;
	margin: 0px auto;
	padding: 0px;
}

#menu ul {
	margin: 0;
	padding: 0px;
	list-style: none;
	line-height: normal;
}

#menu .current_page_item {
	float: left;
	border-right: 1px solid #FFFFFF;

}

#menu li .headerding {
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;

}

#menu li .headerding span {
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;

}





#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #3B3B3B;
	border: none;
}

#menu2 a {
	display: block;
	letter-spacing: 1px;
	line-height: 55px;
	padding: 0px 30px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Arvo', serif;
	font-size: 14px;
	font-weight: normal;
	color: #3B3B3B;
	border: none;
}


#menu a:hover {
	background: #0193CC;
	text-decoration: none;
	color: #FFFFFF;
}

/*#menu .current_page_item a {
	background: #0193CC;
}*/


/* Page */

#page {
	overflow: hidden;
	width: 1000px;
	margin: 0px auto;
	padding: 0px 0px;
}

/* Content */

#content {
	float: right;
	width: 640px;
}

#contentnew {
	float: right;
	width: 640px;
	/*background-color:#ebf5fb;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}

.postnew {
	margin-top:20px;
	border-left:2px solid #ebf5fb;
	margin-bottom: 15px;
	padding-left:20px;
}

.postnew-bgtop {
}

.postnew-bgbtm {
}

.postnew .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 20px;
	font-size: 20px;
	color: #0285CE;
}

.postnew .title a {
	border: none;
	color: #0285CE;
}

.postnew .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 20px;
	text-align: left;
	font-weight: normal;
}

.postnew .meta .date {
	float: left;
}

.postnew .meta .posted {
	float: right;
	margin-right:-50px;

}

.postnew .pic .posted_img {
	margin-top:-30px;
	margin-right:-50px;
	float:right;
}

.postnew .meta a {
}

.postnew .entry {
	padding: 0px 20px 20px 20px;
	padding-bottom: 0px;
	text-align: justify;
}




.post {
	margin-top:10px;
	margin-bottom: 10px;
	border-bottom: 1px dashed #D8D8D8;
	padding-bottom:15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
	height: 38px;
	margin-bottom: 10px;
	padding: 12px 0 0 0px;
	font-size: 18px;
	color: #0285CE;
}

.post .title a {
	border: none;
	color: #0285CE;
}

.post .meta {
	margin-bottom: 30px;
	padding: 5px 0px 15px 0px;
	text-align: left;
	font-weight: normal;
}

.post .meta .date {
	float: left;
}

.post .meta .posted {
	float: right;
	margin-right:20px;
}

.post .pic .posted_img {
	margin-top:-30px;
	margin-right:-50px;
	float:right;
}

.post .meta a {
}

.post .entry {
	padding: 0px 0px 0px 0px;
	padding-bottom: 20px;
	text-align: left;
	float:right;

}

.links {
	height: 30px;
	padding: 30px 0px 0px 0px;
	font-size: 14px;
	font-weight: normal;
	color: #1C1C1C;
}

/* Sidebar */

#sidebar {

	float: left;
	width: 310px;
	margin: 0px;
	padding: 30px 0px 0px 0px;
	color: #787878;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	background-color:white;
	list-style: none;
}

#sidebar li {
	margin-bottom:40px;
	background-color:#ebf5fb;/*#d6eaf8;/*#f2f2f2;/*#EDEDED;*/
	
	
	/*border-bottom: 4px solid #a6a6a6;*/

}


#sidebar li:hover{

	border-left:2px solid #0285CE;
}


#sidebar li ul {
	margin: -15px 0px 20px 0px;
	padding-bottom: 0px;
}


#sidebar #deze{
	border-left:2px solid #0285CE;
}

#sidebar li li {
	margin: 0px 0px;
	padding: 10px 0px 0px 0px;
	padding-left:20px;
	border-left: none;
}

#sidebar li li a:hover{
	border-left: none;
	color:#0285CE;	
}

#sidebar li li:hover{
	border-left: none;
}



#sidebar li li a {
	color: #3B3B3B;
}



#sidebar li li span {
	display: block;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar h2 {
	padding-left:20px;
	padding-bottom: 20px;
	font-size: 1em;
	color: #0285CE;
}

#sidebar h1 {
	padding-bottom: 20px;
	font-size: 1.3em;
	color: #0285CE;
}


#sidebar p {
	margin: 0px 0px 40px 0px;
	padding: 0px;
	text-align: justify;
}

#sidebar a {
	border: none;
}

#sidebar a:hover {
	
}

/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

/* Footer */

#footer {
	height: 50px;
	margin: 0 auto;
	padding: 0px 0 15px 0;
	background: #E9E9E9;
	border-top: 5px solid #D8D8D8;
	font-family: 'Arvo', serif;
}

#footer p {
	margin: 0;
	padding-top: 20px;
	line-height: normal;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	color: #A0A0A0;
}

#footer a {
	color: #8A8A8A;
}

#banner {
	width: 1000px;
	margin: 0px auto;
}


table {
  font-size: 10px;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  
}



/* Slideshow container */
.slideshow-container2 {
  position: relative;
  background: #f1f1f1f1;
}

/* Slides */
.mySlides2 {
  width: 95%;
  display: none;
  padding-left:15px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 5px;
  color: #888;
  font-weight: bold;
  font-size: 10px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

#myDIV {
  width: 100%;
  padding: 0px 0;
  margin-top: -40px;
  display:none;
}

#myDIV2 {
  width: 100%;
  padding: 0px 0;
  margin-top: -40px;
  display:none;
}

#myDIV3 {
  width: 100%;
  padding: 0px 0;
  margin-top: -40px;
  display:none;
}
#myDIV4, #myDIV6,#myDIV7, #myDIV8, #myDIV9,#myDIV5,#myDIV10, #myDIV11, #myDIV12, #myDIV13, #myDIV14, #myDIV15,  #myDIV17,  #myDIV18, #myDIV16, #myDIV19 {
  width: 100%;
  padding: 0px 0;
  margin-top: -40px;
  display:none;
}
#hoi1{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}

#hoi2{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi3{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi4{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi5{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi8{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi6{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi7{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi10{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi9{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi12{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi11{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi13{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi14{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi15{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi16{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi17{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi18{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}
#hoi19{
  display:block;
  cursor: pointer;
  padding: 3px;
  width: 160px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 10px;
  background-color: white;
  float:right;
  margin-top:-5px;
}